In [63]:
#Defining dependencies

## SQL-Python integration
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import psycopg2

## Analysis Tool kits
import pandas as pd

In [64]:
#Connect to my SQL-Challenge database
engine = create_engine('postgresql://postgres:Postgres@localhost/SQL_Challenge')

In [65]:
# Declare Base
Base = automap_base()

In [66]:
# Reflecting the tables present in the database using the base class
Base.prepare(engine , reflect= True)

In [67]:
Base.classes.keys()

['department', 'employees', 'titles', 'dept_manager', 'salaries']

In [69]:
# Create a histogram to see the most common salaries in the dataset
# We will need the salaries table

#Creating the session with the salaries table
salary = Base.classes.salaries;
session = Session(engine)

In [72]:
# Inspect the data structure of salaries
firs_row = session.query(salary).first();
firs_row.__dict__
# Field1: emp_no , Field2: salary

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x23b30dd24f0>,
 'emp_no': 10001,
 'salary': '$60,117.00'}

In [ ]:
#B